@import 'libs/bootstrap-reboot.min';
@import 'libs/fonts';

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}
.container {
    margin: 0 auto;
    width: 100%;
    padding: 0 10px;
}

.title {
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    text-align: center;
}

@import 'blocks/mixins';
@import 'blocks/header';
@import 'blocks/promo';
@import 'blocks/about';
@import 'blocks/results';

@import 'blocks/media';